@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
  background: url('https://github.com/Chak403/chak403/raw/main/e2af680e-998b-4a7b-9cbb-b44c0880755c.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 100vh;  /* Ensure the body takes up the full viewport height */
}


.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    text-align: center;
    padding: 40px 20px;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
    box-shadow: 0 0 30px red;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

.card h1 {
    color: white;
    font-size: 26px;
    margin-top: 10px;
}

.mode {
    color: #ff4444;
    font-size: 15px;
    margin-top: 5px;
}

.sub {
    color: #ddd;
    font-size: 13px;
}

.locked {
    color: #ff3333;
    text-shadow: 0 0 10px red;
    margin: 20px 0;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: 85%;
}

.discord {
    background: #202020;
}

.yt {
    background: #300000;
}

.copy {
    color: #777;
    margin-top: 20px;
    font-size: 12px;
}
